{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1 class="h3 text-center mb-4">{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="uk-button uk-button-primary rounded-pill my-2" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
