{% load static %}
<a href="{% url 'team-detail' post.id team.id %}">
    <div class="uk-card uk-card-default">
        <div class="uk-inline w-100">
            <div class="uk-card-media-top position-relative" style="height:200px">
                <img 
                    src="{% if team.team_image.url %}{{team.team_image.url}}{% else %}{% static 'images/ballkick.jpg' %}{% endif %}" 
                    alt="{{team.title}}"
                    class="object-center object-cover position-absolute w-100 h-100">
            </div>

            <div class="uk-card-body p-3 overflow-hidden" style="min-height:6em;max-height:6em !important">
                <p class="text-center">{{team.title}}</p>
            </div>
            
            <div class="uk-card-footer">
                <div class="d-flex justify-content-between">
                    <span>{{team.created_since}}</span>
                    <span>Score: {% if team.score %}{{team.score}}{% else %}N/A{% endif %}</span>
                </div>
            </div>
        </div>
    </div>
</a>