<div id="CorApplicationList" class="uk-flex-top"  uk-modal>
    <div class="uk-modal-dialog" uk-overflow-auto>
        <div class="uk-modal-header">
            <h6 class="uk-modal-title">Cordinators Applications</h6>
        </div>
        <div style="min-height:60vh" id="CorApplicationBody" class="uk-modal-body"></div>
        <div class="uk-modal-footer">
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
            </p>
        </div>    
    </div>
</div>

<div id="GMApplicationList" uk-modal>
    <div class="uk-modal-dialog" uk-overflow-auto>
        <div class="uk-modal-header">
            <h6 class="uk-modal-title">Game Manager Applications</h6>
        </div>
        <div style="min-height:60vh" id="GMApplicationBody"  class="uk-modal-body">
        </div>
        <div class="uk-modal-footer">
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
            </p>
        </div>
    </div>
</div>
