<footer class="uk-footer mb-0">
    <div class="uk-container mb-0">
      <div class="uk-grid-divider" uk-grid>
        <div class="uk-width-1-3@m">
          <h4>About Us</h4>
          <p>We are Dizitizing the futsal platform, Leeetz.....Futsaaaal.</p>
        </div>
        <div class="uk-width-1-3@m">
          <h4>Quick Links</h4>
          <ul class="uk-list">
            <li><a class="text-dark" href="#">Home</a></li>
            <li><a class="text-dark" href="#">News</a></li>
            <li><a class="text-dark" href="#">Scores</a></li>
            <li><a class="text-dark" href="#">Highlights</a></li>
          </ul>
        </div>
        <div class="uk-width-1-3@m">
          <h4>Contact Us</h4>
          <ul class="uk-list">
            <li><a class="text-dark" href="mailto:info@macpokhara.edu.np">Email</a></li>
            <li><a class="text-dark" href="http://macpokhara.edu.np/">Mt. Annapurna Campus </a></li>
            <li><a class="text-dark" href="https://www.facebook.com/MAC.ITBASEDCOLLEGE">Facebook</a></li>
          </ul>
        </div>
      </div>
      <div class="uk-text-center my-3">
        <p>&copy; 2023 Football Website. All rights reserved.</p>
      </div>
    </div>
  </footer>
  