{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row justify-content-center min-vh-100 align-content-center">
        <div class="col-lg-5 bg-light p-5 px-4 rounded-5">
            <div class="bg-light mb-4">
                <h4 class="text-center mb-4 uk-text-primary">{% block container_title %}{% endblock container_title %}</h4>
                {% block container %}
                
                {% endblock container %}
            </div>
        </div>
    </div>
</div>


{% endblock body %}