{% load crispy_forms_tags %}
<div id="create-match">

    <h4 class="text-primary">Create Match</h4>
    <p><small class="text-secondary">Please reload the page after match created </small></p>
    <form 
        hx-post="{% url 'match-create' post.id %}" 
        hx-trigger="submit" 
        hx-encoding="multipart/form-data"
        hx-target="#create-match"
        hx-swap="innerHTML"
        class="my-3">
        {% csrf_token %}
        {{match_form|crispy}}
        <button type="submit" class="uk-button uk-button-primary my-2">Create Match</button>
    </form>    

</div>