{% load crispy_forms_tags %}
<div id="create-team">

    <h4 class="text-primary">Create Team</h4>
    <p><small class="text-secondary">Please reload the page after team created </small></p>
    <form 
        hx-post="{% url 'team-create' post.id %}" 
        hx-trigger="submit" 
        hx-encoding="multipart/form-data"
        hx-target="#create-team"
        hx-swap="innerHTML"
        class="my-3">
        {% csrf_token %}
        {{team_form|crispy}}
        <button type="submit" class="uk-button uk-button-primary my-2">Create team</button>
    </form>    

</div>